a,
.services i,
.nav-container a:hover,
.nav-container a.selected,
.thumb-tag h2, 
.thumb-tag h3,
.team-member .name,
.icon-features i:hover,
.pricing-table .price,
.pricing-table .sign-up,
#team-social li a:hover {
	color: #9b59b6;
}

a:hover, 
a:selected, 
a.visited,
.icon-features i:hover {
	color: #8e44ad;
}

.pricing-table.highlight,
.pricing-table.highlight .sign-up:hover,
button:hover, .btn:hover,
.settingsinner h4 {
	background-color:  #8e44ad;
}

.nav-container a:hover,
.nav-container a.selected {
	border-bottom-color: #9b59b6;
}



.pricing-table,
.menu-select,
#portfolio-filters a.active, 
#portfolio-filters a:hover,
.pricing-table .sign-up:hover,
button, .btn {
    background-color: #9b59b6;
}

.pricing-table.highlight .price,
.pricing-table.highlight .sign-up,
.social-media li i:hover {
	color:#8e44ad;
}

.portrait .onhover-border {
	stroke:	#9b59b6; 
	stroke-miterlimit:	10;
	fill:	#9b59b6;
}

.mCS-dark>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background:#9b59b6; /* rgba fallback */
    background: rgba(155,89,182,1);

}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background: #8e44ad; /* rgba fallback */
    background: rgba(142,68,173,1);
}

